services:
  - type: web
    name: whatsapp-crm
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: PORT
        value: 4000
      - key: DATABASE_URL
        value: postgresql://postgres.ntrmqtbyfvfyixomwphp:Kazimks123!@aws-1-us-east-1.pooler.supabase.com:5432/postgres
      - key: NODE_ENV
        value: production
